*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body button{
  display: inline-block;
  width: 16%;
  border: 0;
  background-color: rgba(11, 106, 238, 0.546);
  min-width: 60px;
  height: 36px;
  font-size: 15px;
  /* margin: 20px auto; */
  margin: 20px 7%;
  border-radius: 5px;
  outline: none;
  color: #fff !important;
}
button:hover{
  background-color: rgba(11, 106, 238, 0.846);
  cursor: pointer;
}
h1{
  padding: 10px 0;
  color: #f33;
  word-wrap: break-word;word-break: normal;
}
h3{
  color: rgb(246, 139, 9);
  word-wrap: break-word;word-break: normal;
}
p{
  color: rgb(3, 170, 236);
  font-size: 19px;
  padding: 20px 10px;
  text-align: left;
  font-weight: bold;
  word-wrap: break-word;word-break: normal;
}
span{
  display: block;
  padding: 0 30px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: #666;
  word-wrap: break-word;word-break: normal;
}
